<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RealtimeChatApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.softeng.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageChatServlet</display-name>
    <servlet-name>ManageChatServlet</servlet-name>
    <servlet-class>com.softeng.chat.ManageChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageChatServlet</servlet-name>
    <url-pattern>/ManageChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveInfoServlet</display-name>
    <servlet-name>SaveInfoServlet</servlet-name>
    <servlet-class>com.softeng.chat.SaveInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveInfoServlet</servlet-name>
    <url-pattern>/SaveInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.softeng.chat.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>chatpropertyfile</param-name>
    <param-value>chat.properties</param-value>
  </context-param>
  <context-param>
    <param-name>saveRooms</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>freddie_feng@hotmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>maxNoOfMessages</param-name>
    <param-value>5000</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ChatRoomServlet</display-name>
    <servlet-name>ChatRoomServlet</servlet-name>
    <servlet-class>com.softeng.chat.ChatRoomServlet</servlet-class>
    <init-param>
      <param-name>Testing</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomServlet</servlet-name>
    <url-pattern>/ChatRoomServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.softeng.chat.websocket.ChatServerServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ChatWebSocketServlet</display-name>
    <servlet-name>ChatWebSocketServlet</servlet-name>
    <servlet-class>com.softeng.chat.websocket.ChatWebSocketServlet</servlet-class>
    <init-param>
      <param-name>Testing</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatWebSocketServlet</servlet-name>
    <url-pattern>/ChatWebSocketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatRoomCometServlet</display-name>
    <servlet-name>ChatRoomCometServlet</servlet-name>
    <servlet-class>com.softeng.chat.comet.ChatRoomCometServlet</servlet-class>
    <init-param>
      <param-name>Testing</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomCometServlet</servlet-name>
    <url-pattern>/ChatRoomCometServlet</url-pattern>
  </servlet-mapping>
</web-app>